<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round|Grand+Hotel|Noto+Serif+SC" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
       <link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="/static/css/navstyle.css"> <!-- Resource style -->
        <script src="/static/js/modernizr.js"></script> <!-- Modernizr -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Arvo|Bitter|Cabin|Ubuntu" rel="stylesheet">
  	</head>
    <body>
    <header>
        <div class="mybgimg" data-stellar-background-ratio="0.3">
            <div class="container">
                <div class="row">
                        <nav class="cd-stretchy-nav">
                            <a class="navbar-brand ml-auto" href="#">Bhoomika</a>
                            <a class="cd-nav-trigger" href="#0">
                                <span aria-hidden="true"></span>
                            </a>

                            <ul>
                                <li><a href="index.html" class="navn active" data-scroll><span>Home</span></a></li>
                                <li><a href="#about" class="navn" data-scroll><span>About</span></a></li>
                                <li><a href="#skills" class="navn" data-scroll><span>Skills</span></a></li>
                                <li><a href="#projects" class="navn" data-scroll><span>Projects</span></a></li>
                                <li><a href="#connect" class="navn" data-scroll><span>Contact</span></a></li>
                            </ul>

                            <span aria-hidden="true" class="stretchy-nav-bg"></span>
                        </nav>
                  </div>
            </div>
            <div class="container h-100">
                <div class="row justify-content-center" style="margin-top: 20%;">
                    <div class="my-auto align-self-center" style="display: " >
                            <button class="btn btn-md heybtn">Hey There!</button><br><br>
                    </div><br>
            </div><br>
            <div class="row justify-content-center align-items-center">
                    <div class="my-auto align-self-center" >
                            <a href="" class="typewrite text-center movingtext" data-period="1800" data-type='[ "This is Bhoomika Garg", "I am Full-Stack Developer.", "I Love To Code."]'>
                                <span class="wrap"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="blackhead h2 text-center">About Me</h2>
                        <hr class="bottom-line">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <h4 class="aboutme text-center">I am a smart working, adventurous &amp; intuitive person. Hardcore Programming is my first love.<br> I am always keen to learn about new technologies.<br>As a painter looks the world through his art, I use programming as a way to reason about phenomena and model them.<br> I have unmatchable communication skills and ability to work individually as well as in group environment.  </h4><br>
                        <img src="/static/images/birds.gif" alt="birds" height="200 px">
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #efefef;" id="projects">
            <div class="container" style="position: relative; padding-bottom: 50px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="blackhead h2 text-center">My Latest Work</h2>
                        <h3 class="text-muted text-center h5">Take a look at my latest works that I coded single-handedly.</h3>
                        <hr class="bottom-line">
                    </div>
                </div><br>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: #1794bb"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: #1794bb"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                       <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 projects">
                        <img src="/static/images/traineebase.png" class="project">
                        <div class="overlay">
                            <div class="text">
                                <a href="http://traineebases.herokuapp.com/" target="_blank">
                                <h3 class="h3">TraineeBase</h3>
                                <p style="width: 100%; font-family: 'Noto Serif SC', serif; font-weight: 100 !important; font-size: 15px !important; line-height: 1.5; ">It's an E-Training Platform.
                                </p><br>
                                <i class="fas fa-laptop-code" style="color: deepskyblue; font-size: 40px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 projects">
                        <img src="/static/images/reminder.png" class="project">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://github.com/gargbhoomika/Reminder-Dashboard" target="_blank">
                                <h3 class="h3">To-do WebApp</h3>
                                <p style="width: 100%; font-family: 'Noto Serif SC', serif; font-weight: 100 !important; font-size: 15px !important; line-height: 1.5; ">It's a to-do saving web app.
                                </p><br>
                                <i class="fas fa-tasks" style="color: deepskyblue; font-size: 40px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 projects">
                        <img src="/static/images/medicare.png" class="project">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://medicare.pythonanywhere.com/" target="_blank">
                                <h3 class="h3">MediCare</h3>
                                <p style="width: 100%; font-family: 'Noto Serif SC', serif; font-weight: 100 !important; font-size: 15px !important; line-height: 1.5; ">It's an e-commerce for pharmaceuticals.
                                </p><br>
                                <i class="fas fa-pills" style="color: deepskyblue; font-size: 40px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="carousel-item">
                       <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 projects">
                        <img src="/static/images/sahni.png" class="project">
                        <div class="overlay">
                            <div class="text">
                                <a href="http://sahnibakery.pythonanywhere.com/" target="_blank">
                                <h3 class="h3">Sahni Bakery</h3>
                                <p style="width: 100%; font-family: 'Noto Serif SC', serif; font-weight: 100 !important; font-size: 15px !important; line-height: 1.5; ">It's a Review Web App.
                                </p><br>
                                <i class="fas fa-comments" style="color: deepskyblue; font-size: 40px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 projects">
                        <img src="/static/images/uniroute.png" class="project">
                        <div class="overlay">
                            <div class="text">
                                 <a href="https://github.com/gargbhoomika/UniRoute" target="_blank">
                                <h3 class="h3">UniRoute</h3>
                                <p style="width: 100%; font-family: 'Noto Serif SC', serif; font-weight: 100 !important; font-size: 15px !important; line-height: 1.5; ">It's a University Guiding System.
                                </p><br>
                                <i class="fas fa-map-signs" style="color: deepskyblue; font-size: 40px;" ></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 projects">
                        <img src="/static/images/duplex.png" class="project">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://github.com/gargbhoomika" target="_blank">
                                <h3 class="h3">Other Projects</h3>
                                <p style="width: 100%; font-family: 'Noto Serif SC', serif; font-weight: 100 !important; font-size: 15px !important; line-height: 1.5; ">You can visit my github account to check out my other projects.
                                </p><br>
                                <i class="fas fa-external-link-square-alt" style="color: deepskyblue; font-size: 40px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                  </div>
                </div>

            </div>
        </section>
         <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="blackhead h2 text-center">Things I Am Good At</h2>
                        <h3 class="text-muted text-center h5">Educating yourself doesn't mean you were stupid in first place,<br> it means that you are intelligent enough to know that there is plenty left to learn.</h3>
                        <hr class="bottom-line">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <i class="fas fa-cogs" style="color: #1794bb; font-size: 50px"></i><br><br>
                        <h4 class="h4" style="font-weight: 500; font-family: 'Ubuntu', sans-serif;">Web Development</h4>
                        <p style="font-size: 20px; line-height: 1.5; font-family: 'Cabin', sans-serif; color: #2a2a2a">I am an enthusiastic web designer as well as developer. I have developed many web apps and I will be happy to develop anything from a Blog to a Dynamic Web App.</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <i class="fas fa-code-branch" style="color: #1794bb; font-size: 47px"></i><br><br>
                        <h4 class="h4" style="font-weight: 500; font-family: 'Ubuntu', sans-serif;">Backend Development</h4>
                        <p style="font-size: 20px; line-height: 1.5; font-family: 'Cabin', sans-serif; color: #2a2a2a">I am a professional java developer &amp; I have some experience in developing real world projects and also some cool projects of my own. I have a special place for python and some projects too.</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <i class="fas fa-database" style="color: #1794bb; font-size: 45px"></i><br><br>
                        <h4 class="h4" style="font-weight: 500; font-family: 'Ubuntu', sans-serif;">DataBases</h4>
                        <p style="font-size: 20px; line-height: 1.5; font-family: 'Cabin', sans-serif; color: #2a2a2a">I have worked with some databases as MySQL for my java projects, Postgresql for my python projects &amp; Oracle in general. Having all this makes me a fullstack developer.</p>
                    </div>
                </div><br><br>
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                     <h4 class="h4" style="font-weight: 500; font-family: 'Ubuntu', sans-serif;">Wanna Check Out My Resume ? </h4>
                        <a href="/static/images/BhoomikaResume.pdf" style="color: #1794bb; font-size: 20px;" download>
                            <i class="fas fa-download" style="color: #1794bb; font-size: 30px"></i>
                            Resume Download
                        </a>

                    </div>
                </div>
             </div>
        </section>
        <section class="about" style="background-color: #000;" id="skills">
            <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <img src="/static/images/java.png" height="200px" width="100px">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <img src="/static/images/html.png" height="200px" width="200px">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <img src="/static/images/python.png" height="200px" width="200px">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <img src="/static/images/mysql.png" height="200px" width="200px">
                    </div>
                </div>
            </div>
        </section>
        <section class="about" id="events">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="blackhead h2 text-center">Events</h2>
                        <h5 class="text-muted text-center h5">I have done some really good things at these events as organising,<br> pitching, technical help and a lot more than that.</h5>
                        <hr class="bottom-line">
                    </div>
                </div><br>
            <div class="card-columns">
              <div class="card">
                <img class="card-img-top" src="/static/images/patrosir.JPG" alt="Card image cap">
              </div>
              <div class="card">
                  <img class="card-img-top" src="/static/images/startupweekend.jpg" alt="Card image cap">
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/jobfair.jpg" alt="Card image cap">
              </div>
              <div class="card bg-primary text-white text-center p-3" style="background-color: #1d1d1d !important;">
                <blockquote class="blockquote mb-0">
                  <h3 class="h3">I am just enthusiastic about what I do.</h3>
                </blockquote>
              </div>
              <div class="card text-center">
                <img class="card-img-top" src="/static/images/hst.JPG" alt="Card image cap">
              </div>
              <div class="card">
                <img class="card-img" src="/static/images/hst2.jpg" alt="Card image">
              </div>
              <div class="card text-right">
                  <img class="card-img-top" src="/static/images/huddle.JPG" alt="Card image cap">
              </div>
              <div class="card text-right">
                  <img class="card-img-top" src="/static/images/summit.jpg" alt="Card image cap" height="150px;">
              </div>
            </div>
            </div>
        </section>
        <section class="about blackoverlay" style="background-image: url(/static/images/bgimg.JPG); background-position: bottom; background-repeat: no-repeat; background-size: cover; width: auto; height: auto; position: relative;">
            <div class="container" style="padding: 100px; text-align: center;">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <h3 class="h3" style="font-family: 'Crete Round', serif; color: white;">Work for a cause not for an applause, Live life to express not to impress. Don't strive to make your presence noticed, just make your absence felt. <br> - My Belief. </h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="about" id="connect">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="blackhead h2 text-center">Say Hello</h2>
                        <h5 class="text-muted text-center h5">If you have any question, please get in touch via contact form.</h5>
                        <hr class="bottom-line"><br><br>
                    </div>
                </div>
                <form  action="{{url_for('success')}}" method="post">
                    <div class="row">
                       <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                           <input type="text" placeholder="Name" class="form-control" style="width: 100%;" name="name">
                       </div>
                       <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                           <input type="email" placeholder="Email" class="form-control" style="width: 100%;" name="email">
                       </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                           <input type="text" placeholder="Subject" class="form-control" style="width: 100%;" name="subject">
                       </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <textarea type="text" placeholder="Your Message" class="form-control" style="width: 100%;" rows="3" name="message"></textarea>
                       </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                            <button type="submit" class="btn btn-primary btn-lg" style="padding: 10px;font-family: 'Arvo', serif;">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!--
        <main class="cd-main-content">

        </main>
-->


    </body>
    <footer class="page-footer font-small pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row" style="padding: 30px;">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-md-0 mt-3 text-center" style="line-height:2.0;">

          <h5 class="text-uppercase">Contact Me</h5>
          <p>Bhoomika Garg</p>
          <p>Proud Indian</p>
          <p>bhoomiika.garg@gmail.com</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mb-md-0 mb-3" style="line-height:2.0;">

            <h5 class="text-uppercase">Connect with Me </h5><br>

            <ul class="list-unstyled">
            <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="padding: 0 !important;">
              <li>
                <a href="https://twitter.com/BhoomikaGarg6" target="_blank" style="color:white;"><i class="fab fa-twitter icon" style="font-size: 30px; color: white;"></i></a>
              </li>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="padding: 0 !important;">
              <li>
                <a href="https://www.linkedin.com/in/gargbhoomika/" target="_blank" style="color:white;"><i class="fab fa-linkedin-in icon" style="font-size: 30px; color: white;"></i></a>
              </li>
                </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="padding: 0 !important;">
              <li>
                <a href="https://github.com/gargbhoomika" style="color:white;" target="_blank"><i class="fab fa-github icon"  style="font-size: 30px; color: white;"></i></a>
              </li>
                </div>
                </div>
            </ul>
            </div>
          </div>
    </div>
    </footer>
    <script src="/static/js/jquery-2.1.4.js"></script>
    <script src="/static/js/main.js"></script> <!-- Resource jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };

    jQuery(document).ready(function($) {
        function scrollToSection(event)
        {
            event.preventDefault();
            var $section = $($(this).attr('href'));
            $('html,body').animate({
                scrollTop: $section.offset().top
            },800);
        }
        $('[data-scroll]').on('click',scrollToSection);
    }(jQuery)
    );
    </script>
</html>



<!--font-family: 'Crete Round', serif;
font-family: 'Grand Hotel', cursive;
font-family: 'Noto Serif SC', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Arvo', serif;


-->
